sourcce/Services/Service References/AssessmentExternalService/AssessmentServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12312/AssessmentServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedEntities" />
  <xs:element name="GetAssessmentTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedEntities" minOccurs="0" name="GetAssessmentTypesResult" nillable="true" type="q1:ArrayOfNS_TblAssessmentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAssessmentTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SharedEntities" minOccurs="0" name="GetAssessmentQuestionsResult" nillable="true" type="q2:ArrayOfNS_TblAssessmentQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentRecommendations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentRecommendationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SharedEntities" minOccurs="0" name="GetAssessmentRecommendationsResult" nillable="true" type="q3:ArrayOfNS_TblRecommendation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentMaturityLevels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentMaturityLevelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SharedEntities" minOccurs="0" name="GetAssessmentMaturityLevelsResult" nillable="true" type="q4:ArrayOfNS_TblMaturityLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveAssessmentCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveAssessmentCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActiveAssessmentCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>