sourcce/Services/Service References/TranslatorExternalService/TranslatorServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12312/TranslatorServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedEntities" />
  <xs:element name="TranslatorFileModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pLanguageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslatorFileModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedEntities" minOccurs="0" name="TranslatorFileModelResult" nillable="true" type="q1:ArrayOfTranslatorFileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>