sourcce/SomsightServices/Service References/AssessmentExternalService/AssessmentServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AssessmentServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12312/AssessmentServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12312/AssessmentServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12312/AssessmentServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAssessmentServices_GetAssessmentTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssessmentTypes" />
  </wsdl:message>
  <wsdl:message name="IAssessmentServices_GetAssessmentTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssessmentTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IAssessmentServices_GetAssessmentQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssessmentQuestions" />
  </wsdl:message>
  <wsdl:message name="IAssessmentServices_GetAssessmentQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssessmentQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAssessmentServices_GetAssessmentRecommendations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssessmentRecommendations" />
  </wsdl:message>
  <wsdl:message name="IAssessmentServices_GetAssessmentRecommendations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssessmentRecommendationsResponse" />
  </wsdl:message>
  <wsdl:message name="IAssessmentServices_GetAssessmentMaturityLevels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssessmentMaturityLevels" />
  </wsdl:message>
  <wsdl:message name="IAssessmentServices_GetAssessmentMaturityLevels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssessmentMaturityLevelsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssessmentServices">
    <wsdl:operation name="GetAssessmentTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssessmentServices/GetAssessmentTypes" message="tns:IAssessmentServices_GetAssessmentTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssessmentServices/GetAssessmentTypesResponse" message="tns:IAssessmentServices_GetAssessmentTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssessmentQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssessmentServices/GetAssessmentQuestions" message="tns:IAssessmentServices_GetAssessmentQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssessmentServices/GetAssessmentQuestionsResponse" message="tns:IAssessmentServices_GetAssessmentQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssessmentRecommendations">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssessmentServices/GetAssessmentRecommendations" message="tns:IAssessmentServices_GetAssessmentRecommendations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssessmentServices/GetAssessmentRecommendationsResponse" message="tns:IAssessmentServices_GetAssessmentRecommendations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssessmentMaturityLevels">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssessmentServices/GetAssessmentMaturityLevels" message="tns:IAssessmentServices_GetAssessmentMaturityLevels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssessmentServices/GetAssessmentMaturityLevelsResponse" message="tns:IAssessmentServices_GetAssessmentMaturityLevels_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAssessmentServices" type="tns:IAssessmentServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAssessmentTypes">
      <soap:operation soapAction="http://tempuri.org/IAssessmentServices/GetAssessmentTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssessmentQuestions">
      <soap:operation soapAction="http://tempuri.org/IAssessmentServices/GetAssessmentQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssessmentRecommendations">
      <soap:operation soapAction="http://tempuri.org/IAssessmentServices/GetAssessmentRecommendations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssessmentMaturityLevels">
      <soap:operation soapAction="http://tempuri.org/IAssessmentServices/GetAssessmentMaturityLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AssessmentServices">
    <wsdl:port name="BasicHttpBinding_IAssessmentServices" binding="tns:BasicHttpBinding_IAssessmentServices">
      <soap:address location="http://localhost:12312/AssessmentServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>